* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    /* justify-content: center;
    align-items: center;   */
    margin: 0;
    
  }
  .back{
    background-image: url(BG2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
  }
  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform : translate(-50% , -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    /* margin: 20px auto; */
    padding: 20px;
    /* max-width: 400px; */
    width: 450px;
    height:440px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #1077cf;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }